<%-include('includes/header.ejs')%> <%-include('includes/navbar.ejs')%>
<div class="row">
  <% prods.forEach(function(prod){ %>
  <div class="card col-lg-4 col-md-6 card">
    <img
      alt="productImage"
      src="<%=prod.productImage%>"
    />
    <h1><%=prod.name%></h1>
    <h3><%=prod.productCategory%></h3>
    <h6><%=prod.sellingPrice%></h6>
    <h6><%=prod.productQuantity%></h6>
    <h6><%=prod.productColour%></h6>
    <p><%=prod.productDescription%></p>
    <h6><%=prod.productFeatures[0].featureName%></h6>
    <h6><%=prod.productFeatures[0].featureValue%></h6>
    <h6><%=prod.productStatus%></h6>   
    <form action="/admin/edit/:prod._id" method="post">                            
      <button type="submit">Edit</button>    
      <input type="hidden" name="productId" value="<%=prod._id%>">        
    </form>
    </div>
    <form action="/admin/delete" method="post">          
      <input type="hidden" name="productId" value="<%=prod._id%>">                          
      <button type="submit">delete</button>            
    </form>   
  </div
  <% }) %>
 

</div>
